@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    951.331.9399
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:alexander.anicete91@outlook.com">Support@example.com</a><br />
    
</address>