@{
    ViewBag.Title = "Home Page";
}

<div class="breadcrumb">
    <h1>Barber Connect</h1>
    <p class="lead">Find a reliable barber easier than ever. Meet a barber you can trust or they can meet you!  </p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <center>
    <img class="card-img-top img-rounded" src="~/Images/Lgo.JPG" height="200" width="300" 
         </center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>
            Already have a profile? Click here!
        </p>
        <p><a class="btn btn-default" href="~/Account/Login">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search</h2>
        <p>Search for your local barber.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Settings</h2>
        <p>Configure your profile settings.</p>
        <p><a h class="btn btn-default" href="~/Home/Settings">Settings &raquo;</a></p>
    </div>
</div>