
@{
    ViewBag.Title = "Profile";
}

<h2>ViewBag.Title</h2>
<h3>ViewBag.Message</h3>


<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="/Images/pic2.jpg" height="275" width="275" >
            <div class="img-rounded">
                <h4 class="card-title">Joseph Shaw</h4>
                <img class="card-img-top img-fluid" src="~/Images/5_stars-512.png" height="180" width="275">
                <p class="card-text">This is where the Biography goes. Hi my name is Dude, I like to cut hair.</p>
                <p><a href="" class="btn btn-primary btn-lg">My schedule  &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
